<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Join | ChatApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body class="centered-form">
        <div class="centered-form__form">
            <form action="/chat.html">
                <div class="form-field">
                    <h3>Join a chat</h3>
                </div>
                <div class="form-field">
                    <label>Display name</label>
                    <input type="text" name="name" autofocus/>
                </div>
                <div class="form-field">
                    <label>Room name</label>
                    <input list="roomDropdown" name="room" id="droping">
                    <datalist id="roomDropdown"></datalist>
                </div>

                <script id="roomDropdown-option-template" type="text/template">
                    <option value="{{option}}">
                </script>

                <div class="form-field">
                    <button>Join</button>
                </div>
            </form>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/libs/jquery-3.3.1.min.js"></script>
        <script src="/js/libs/mustache.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>